<div data-controller="routines">
  <%= form_with(model: routine, class: "contents h-full") do |form| %>
    <% if routine.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

        <ul>
            <% routine.errors.each do |error| %>
            <li><%= error.full_message %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <div class="mt-4 grid grid-cols-6 gap-4 items-center">
        <%= form.label :name %>
        <%= form.text_field :name, required: :true, class: "input bg-neutral col-span-5" %>

        <%= form.label :description %>
        <%= form.text_field :description, class: "input bg-neutral col-span-5" %>
    </div>

    <div class="divider"></div>

    <p class="text-primary font-montserrat md:text-4xl text-2xl font-extrabold mb-1">Exercises</p>
    <div class="w-full rounded-xl overflow-auto max-h-[24rem] bg-neutral p-2">
        <% for ex in routine.exercises %>
            <%= render ex do %>
                <div></div>
            <% end %>
        <% end %>
    </div>


    <div class="flex justify-center gap-4 mt-4">
        <%= form.submit "Save changes", class: "btn btn-primary btn-wide" %>
        <button data-action="click->routines#show" type="button" class="btn btn-wide btn-accent">Add Exercise</button>
        <%= link_to "Back to routines", routines_path, class: "btn btn-secondary btn-wide" %>
    </div>

    <dialog data-routines-target="modal" class="modal">
      <div class="modal-box">
        <p class="font-bold text-primary text-xl">Add Exercises</p>

          <div class="overflow-auto max-h-[30rem]">
            <% for ex in Exercise.all %>
              <%= render ex do %>
                <%= button_to "+", routine_add_exercise_path(params[:id], exercise_id: ex.id ), method: :patch, class: "btn btn-xs btn-circle btn-primary" %>
              <% end %>
            <% end %>
          </div>

        <div class="modal-action w-full">
            <button type="button" data-action="click->routines#close" class="btn btn-primary btn-sm w-full">Close</button>

        </div>
      </div>
    </dialog>

    <% end %>
</div>
