<%= form_with(model: routine, class: "contents h-full") do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul>
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5 grid grid-cols-6 gap-x-2 items-center">
    <%= form.label :name %>
    <%= form.text_field :name, required: :true, class: "input bg-neutral col-span-5" %>
  </div>

  <div class="my-5 grid grid-cols-6 gap-x-2 items-center">
    <%= form.label :description %>
    <%= form.text_field :description, class: "input bg-neutral col-span-5" %>
  </div>

  <div class="divider"></div>

  <div class="flex justify-center gap-4">
    <%= form.submit class: "btn btn-primary btn-wide" %>
    <%= link_to "Back to routines", routines_path, class: "btn btn-secondary btn-wide" %>

  </div>
<% end %>
