<%= form_with(model: routine, class: "contents") do |form| %>
  <% if routine.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(routine.errors.count, "error") %> prohibited this routine from being saved:</h2>

      <ul class="list-disc ml-6">
        <% routine.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <div class="flex gap-2">
      <%= form.text_field :name, placeholder: @routine.name, class: "p-2 rounded-xl outline outline-gray-200 focus:outline-black w-full" %>
      <%= form.submit class: "px-4 py-1 bg-black text-white text-sm font-semibold rounded-full transition ease-in-out hover:bg-emerald-400/75" %>
    </div>
    <hr class="border-4 border-dashed border-black my-10">
    <div class="flex justify-between items-center">
      <p class="font-extrabold text-5xl">Exercises.</p>
      <button type="button" class="px-2 fa fa-plus py-2 text-black bg-white font-semibold transition ease-in-out hover:bg-black hover:text-white rounded-full"></button>
    </div>
  </div>
<% end %>
